.App {
  font-family: sans-serif;
}

.game .date {
  padding: 0 5px;
}

.team {
  display: inline-block;
}
.team .name {
  font-size: 12px;
  line-height: 15px;
}

.team .flag {
  vertical-align: text-bottom;
  margin-right: 3px;
}

.player .selected {
  font-weight: bold;
}
