.logo {
  height: 120px;
  margin: 10px;
  background-size: contain;
  background-image: url('images/logo.png');
  /*background-image: url('https://rawgit.com/guykr/MondialStats/5e0a6ef3657e3154cc20cce81b9c130a88778264/src/images/logo.png');*/
  background-repeat: no-repeat;
  background-position: center;
}

.ant-layout-content {
  padding: 20px;
}
.ant-layout-header {
  color: white;
}
.ant-popover-title {
  text-align: center;
  font-weight: bold;
}

.app-layout {
  min-height: 100vh;
}

h2 {
  text-align: center;
  margin: 10px 0;
}

/* Games */
.game {
  display: inline-block;
  margin: 3px;
}
.game.was-played .ant-card-bordered {
  border-color: black;
}
.game.selected .ant-card-bordered {
  border-color: dodgerblue;
}

.game.hidden {
  opacity: 0.3;
}

.game:hover {
  cursor: pointer;
}
.game:hover .ant-card-bordered {
  border-color: dodgerblue;
}

.game .date {
  padding: 0 5px;
  font-size: 12px;
  color: gray;
}
.game .ant-card-head-title {
  text-align: center;
  font-size: 13px;
}

.game .vs {
  font-size: 15px;
  line-height: 55px;
  vertical-align: top;
  margin: 0 10px;
}
.game .score {
  text-align: center;
  font-size: 16px;
  margin: 0;
}

/* Game Bets */

.game-bets {
}
.bets-card {
  display: inline-block;
  margin: 5px;
  vertical-align: top;
}

.bets-card .ant-card-head-title {
  font-size: 12px;
  text-align: center;
}

.bets-card .bets {
  font-size: 12px;
  direction: rtl;
  text-align: right;
}

.bet-wrapper {
  display: table-row;
  width: 100%;
}
.bet-wrapper .player-name{
  display: table-cell;
  width: 100px;
}
.bet-wrapper .bet {
  display: table-cell;
}

.bet {
  display: inline-block;
  margin: 3px 10px;
}

.game-odds {
  position: relative;
  width: calc(100% + 50px);
  height: 5px;
  margin-top: -24px;
  margin-left: -25px;
  margin-bottom: 24px;
}
.game-odds > span {
  display: inline-block;
  height: 100%;
  position: absolute;
}
.game-odds .team-a-odds {
  background: dodgerblue;
}
.game-odds .draw-odds {
  background: #bdbdbd;
}
.game-odds .team-b-odds {
  background: palevioletred;
}


/* Teams */
.team {
  display: inline-block;
}
.team.winner {
  font-weight: bold;
}

.team .name {
  line-height: 15px;
}

.team:not(.tiny) .flag {
  display: block;
}

.team.tiny {
  font-size: 12px;
  margin: 0 5px;
}
.team.tiny .flag {
  vertical-align: text-bottom;
  margin-right: 3px;
}

.player .name:hover {
  cursor: pointer;
  text-decoration: underline;
}

.player .name {
  font-weight: bold;
  font-size: 14px;
  margin-right: 10px;
}

.player.selected {
  font-weight: bold;
}
